body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    font-size: medium;
    background-color: rgb(105, 105, 105);
}

header {
    background-image: url('../Images/image.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 3% 0;
}
img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 99;
    font-size: 200%;
    border: none;
    outline: none;
    background-color: rgba(14, 134, 231, 0.6);
    color: white;
    cursor: pointer;
    padding-top: 1.8%;
    padding-bottom: 1.8%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 2%;
    border-style:inherit;
    border-radius: 40%;
}

#back-to-top-btn:active  {
    background-color: rgba(128, 128, 128, 0.6);
}